@media (max-width: 1199px) {
    .plugin h1 {
        margin-bottom: 25px !important;
    }

    .plugin h2 {
        margin-bottom: 5px !important;
        margin-top: 25px !important;
    }

    .owl-stage-outer {

        padding-bottom: 35px;
    }
}

@media (max-width: 1080px) {
    .banner-food {
        top: 4% !important;
    }
}

@media (max-width: 991px) {
    .header_bar {}

    .banner {
        min-height: 100vh !important;
    }

    .header .logo {
        width: 50% !important;
    }

    .header .number {
        display: block !important;

        width: 41% !important;
        text-align: end;

    }

    .header .number .bike {
        display: none;
    }

    .header .number h2 {

        font-size: 12px !important;

        margin-top: 10px !important;

    }

    .banner-data .h1 {
        font-size: 80px !important;
    }

    .banner-data .h2 {
        font-size: 55px !important;
    }

    .top-bar {
        display: block !important;
        padding-left: 0;
    }

    .navbar-light {
        text-align: end;
    }

    .banner-food {
        position: initial !important;
        /* left: 50% !important; */
        /* transform: translateX(0%) !important; */
        top: 7% !important;
        width: 100% !important;
        margin: auto;
        transform: translateX(0%);
    }

    .pricing {
        width: 90px !important;
        height: 90px !important;
        left: 16% !important;
        bottom: 14% !important;
    }

    .price {
        width: 77px !important;
        height: 77px !important;
        padding-top: 13% !important;

    }

    .price h3 {
        font-size: 20px !important;
    }

    .price h3 span {
        font-size: 16px !important;
    }

    .price h5 {
        font-size: 18px !important;
    }

    .banner-data {
        margin-top: 50px !important;
        text-align: center !important;
    }

    .banner-data h2 {
        font-size: 20px !important;
        margin-top: 20px !important;
    }

    .navbar-light .navbar-toggler {

        border: none;
    }

    .banner-img {
        padding-bottom: 20px;
    }

    .navbar-toggler {
        padding: 0;
    }

    .navbar-light .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-nav .nav-item {
        margin-left: 0px !important;
    }

    .navbar-nav {
        text-align: center;

    }

    .title-bar h1 {
        font-size: 32px !important;
    }

    .title-bar h2 {
        font-size: 18px !important;
    }

    .title-bar1 .bar-2 {
        font-size: 32px !important;
    }

    .title-bar1 .bar-1 {
        font-size: 33px !important;

    }

    .title-bar1 h2 {
        font-size: 18px !important;
    }

    .title-bar2 h1 {
        font-size: 27px !important;
    }

    .title-bar2 h2 {
        font-size: 18px !important;
    }

    .slider {
        width: 100%;
        text-align: center;
    }

    .plugin h2 {
        font-size: 30px !important;
        margin-top: 10px !important;
    }

    .plugin h1 {
        font-size: 30px !important;
        margin-bottom: 20px !important;
    }

    .plugin {
        padding-bottom: 0px !important;
    }

    .owl-stage-outer {
        padding-bottom: 30px;
    }

    .owl-item {
        padding-left: 0 !important;
    }

    .owl-dots {
        left: 50% !important;
        bottom: 2% !important;
        transform: translateX(-50%);
    }

    .contact-form {
        width: 80% !important;

    }

    .address-left {
        width: 58% !important;
    }

    .address-new {
        width: 0% !important;
    }

    .address {
        margin-bottom: 20px;

    }

    .address h3 {
        font-size: 18px !important;
    }

    .address-icon {
        width: 25px !important;
        height: 25px !important;

        align-items: center !important;
        margin-bottom: 0 !important;
    }
    .book form {
        width: 90%;
        margin: auto;
        padding-bottom: 80px;
    }



}










@media (max-width: 767px) {
   

    .address-left {
        width: 100% !important;
    }

  

    .banner {
        min-height: 105vh !important;
    }

    .header .number {
        display: flex;

        width: 41% !important;

    }

  

   

    .banner-data .h1 {
        font-size: 75px !important;
    }

   
    .navbar-light {
        /* position: absolute; */
        /* top: 5%; */
        /* right: 0; */
    }

    .banner-food {
        position: initial !important;
        /* left: 50% !important; */
        /* transform: translateX(0%) !important; */
        top: 7% !important;
        width: 95% !important;
        margin: auto;
        transform: translateX(0%);
    }

    .pricing {
        width: 90px !important;
        height: 90px !important;
        left: 16% !important;
        bottom: 14% !important;
    }

    .price {
        width: 77px !important;
        height: 77px !important;
        padding-top: 13% !important;

    }

    .price h3 {
        font-size: 20px !important;
    }

    .price h3 span {
        font-size: 16px !important;
    }

    .price h5 {
        font-size: 18px !important;
    }

    .banner-data {
        margin-top: 30px !important;
        text-align: center !important;
    }

    .banner-data h2 {
        font-size: 20px !important;
        margin-top: 20px !important;
    }

    .navbar-light .navbar-toggler {

        border: none;
    }

    .banner-img {
        padding-bottom: 20px;
    }

    .navbar-toggler {
        padding: 0;
    }

    .navbar-light .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-nav .nav-item {
        margin-left: 0px !important;
    }

    .navbar-nav {
        text-align: center;

    }

    .title {
        padding: 40px 0 !important;
    }

    .title-bar {
        text-align: center !important;
        /* display: inline-block !important; */
        width: 90% !important;
        margin: auto;
    }

    .title-bar h2 {
        font-size: 22px !important;
    }

    .title-bar h1 {
        font-size: 37px !important;
    }

    .title_left {

        margin-bottom: 15px !important;
    }

    .title1 {
        margin-bottom: 15px !important;
    }

    .title-bar1 .bar-2 {
        font-size: 36px !important;
    }

    .title-bar1 .bar-1 {
        font-size: 36px !important;
    }

    .title-bar1 h2 {
        font-size: 22px !important;
    }

    .title-bar2 h1 {
        font-size: 32px !important;
    }

    .title-bar2 h2 {
        font-size: 22px !important;
    }

    .title-bar1 {
        left: 7% !important;
    }

    .title-bar2 {
        left: 7% !important;
    }

    .para h1 {
        margin-top: 20px !important;
    }

    .order-img {
        margin-top: 60px !important;
    }

    .order {
        padding: 0px 0 !important;

    }

    .order-img img {
        width: 95% !important;

    }

    .slider {
        width: 100%;
        text-align: center;
    }

    .plugin h2 {
        font-size: 30px !important;
        margin-top: 10px !important;
    }

    .plugin h1 {
        font-size: 22px !important;
        margin-bottom: 20px !important;
    }

    .plugin {
        padding-bottom: 0px !important;
    }

    .owl-stage-outer {
        padding-bottom: 30px;
    }

    .owl-item {
        padding-left: 0 !important;
    }

    .owl-dots {
        left: 50% !important;
        bottom: 2% !important;
        transform: translateX(-50%);
    }

    .book {
        min-height: 90vh !important;
    }
    .book form {
        padding-bottom: 0px;
    }
    .left-form {
        width: 50% !important;
    }

    .right-form {
        width: 50% !important;
    }

    .book h2 {
        margin-top: 50px !important;
    }

    .book h1 {
        font-size: 28px !important;
    }

    .contact-form {
        width: 95% !important;
        margin-top: 40px !important;
        padding-bottom: 130px;
    }

    .footer-bar {
        padding-top: 30px !important;
        padding-left: 25px !important;
        padding-right: 25px !important;
    }

    footer {
        margin-bottom: 0px !important;
    }

    footer p {
        margin-top: 30px;
        text-align: justify !important;
    }

    .footer-logo {
        width: 75% !important;
        margin-bottom: 0 !important;
    }

    .address-bar {
        margin-top: 30px !important;
    }

    .copy h3 {
        font-size: 16px !important;
        margin-bottom: 10px !important;
    }

    .footer-icon ul {
        justify-content: center;
    }

    .footer-title {
        margin-top: 10px !important;
        text-align: center !important;
        display: block !important;
    }
}

@media (max-width: 575px) {
   

   

    .banner-data .h1 {
        font-size: 65px !important;
    }


   

    .banner-food {
       
        left: 50% !important;
        transform: translateX(0%) !important;
       
        width: 91% !important;
    }

    .banner-data h2 {
        font-size: 18px !important;
        margin-top: 20px !important;
    }

  


    .title-bar h2 {
        font-size: 19px !important;

    }

    .title-bar h1 {
        font-size: 27px !important;

    }

    .title-bar1 .bar-2 {
        font-size: 26px !important;
    }

    .title-bar1 .bar-1 {
        font-size: 28px !important;
    }

    .title-bar1 h2 {
        font-size: 16px !important;
    }

    .title-bar2 h1 {
        font-size: 26px !important;
    }

    .title-bar2 h2 {
        font-size: 16px !important;
    }

   

}

@media (max-width: 532px) {
    .header .number h2 {
        font-size: 20px !important;
    }

    .pricing {
        left: 13% !important;
        bottom: 11% !important;
    }
}

@media (max-width: 483px) {
    .header .number h2 {
        font-size: 18px !important;
    }

    .pricing {
        left: 12% !important;
        bottom: 10% !important;
    }

    .book {
        min-height: 110vh !important;
    }

    .left-form {
        width: 100% !important;
    }

    .right-form {
        width: 100% !important;
    }
}

@media (max-width: 435px) {
    .header .number h2 {
        font-size: 16px !important;
    }

    .banner-data .h1 {
        font-size: 60px !important;
    }

    .pricing {

        left: 12% !important;
        bottom: 6% !important;
    }
}

@media (max-width: 386px) {
    .header .number h2 {
        font-size: 14px !important;
    }

    .banner-data .h1 {
        font-size: 52px !important;
    }
}

@media (max-width: 362px) {
    .header .number h2 {
        font-size: 13px !important;
    }
}

@media (max-width: 338px) {
    .header .number h2 {
        font-size: 12px !important;
    }
}